* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    font-family: 'Quicksand';
    background-color: rgb(183, 175, 203);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*


    HEADER


*/

.header a {
    text-decoration: none;
    color: rgb(239, 239, 239);
    font-size: 22px;
    font-weight: bold;
}

li {
    list-style: none;
}

.header ul {
    display: flex;
    gap: 30px;
}

.htp {
    background-color: rgba(237, 0, 255, 0.5);
    padding: 10px 30px;
    border-radius: 10px;
    filter:drop-shadow(0 0 0px rgb(237, 0, 255));
    transition: 0.5s;
}

.htp:hover {
    background-color: rgb(222, 96, 231);
    filter:drop-shadow(0 0 10px rgb(222, 96, 231));
    transform:scale(1.1);
}

.header {
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    padding: 28px;
    
}

/*


    PLAYER UI


*/

.player-ui li {
    
    opacity: 0.6;
    transition: 0.3s;
}

.player-ui li:hover {
    opacity: 1;
    transform: scale(1.1);
}

.player-ui ul {
    display: flex;
    gap: 30px;
}

.player-ui {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.player-ui .text {
    font-size: 36px;
    font-weight: 900; 
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
    padding: 5px 20px;
    color: rgb(239, 239, 239);
}

/*


    COMPUTER


*/

.computer-imgs li {
    opacity: 0.6;
    transition: all 2s ease;
}

.computer-imgs .toggle {
    opacity: 1;
    transform: scale(1.1);
}

.computer-imgs ul {
    display: flex;
    gap: 30px;
}

.computer-imgs {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.computer-imgs .text {
    font-size: 36px;
    font-weight: 900; 
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
    padding: 5px 20px;
    color: rgb(239, 239, 239);
}

/*


    SCOREBOARD


*/

.scoreboard {
    display: flex;
    align-items: center;
    flex-direction: column;
    color:rgb(228, 228, 228);
    font-size: 28px;
    font-weight: bold;
    gap: 10px;
}

.scoreboard .player {
    background-color: rgb(237, 0, 255);
    border-radius: 10px;
    padding: 10px 15px;
}

.scoreboard .player-points {
    border-radius: 8px;
    padding: 0px 10px;
    background-color: rgb(204, 31, 227, 0.8);
}

.scoreboard #computer {
    background-color: rgba(0,0,0,0.6);
    border-radius: 10px;
    padding: 10px 15px;
}

.scoreboard .computer-points {
    border-radius: 8px;
    padding: 0px 10px;
    background-color: rgba(0,0,0,0.4);
}

.scoreboard .versus {
    font-size: 30px;
    font-weight: 900;
    color: rgba(0,0,0,0.4);
}

/*


    FOOTER


*/

.footer {
    display: flex;
    justify-content: center;
    color: rgb(239, 239, 239);
    padding: 20px;
    font-weight: 700;
    font-size: 22px;
}

.footer a {
    text-decoration: none;
    color:rgb(118, 111, 203);
    border-bottom: 3px groove rgb(86, 76, 199);
    border-radius: 6px;
}